mode server

# server port
port {{ server_port }}

# protocol used
proto {{ server_proto }}

# server mode
dev tun

# root certificate
ca /etc/openvpn/server/ca.crt

# server certificate
cert /etc/openvpn/server/issued/server.crt

# Server key
key /etc/openvpn/server/private/server.key

# Diffy-Helman key
dh /etc/openvpn/server/dh.pem

# VPN subnet
server {{ vpn_subnet }} {{ vpn_subnet_mask }}

# traffic encryption
cipher AES-256-CBC

#Local network
route {{ local_network }} {{ local_network_mask }} {{ lan_router_ip }}

# connection properties
keepalive 10 120

# traffic compression
comp-lzo

#for avoid duplicate keys during reconnection
persist-key

client-config-dir {{ ccd_dir }}

# performing tunneled connection
persist-tun

# status log
status /var/log/openvpn/status.log

# common log
log /var/log/openvpn/openvpn.log

# log level
verb 3

# route
push "route {{ vpn_subnet }} {{ vpn_subnet_mask }}"

# topology
topology subnet

# connection mode
client-to-client

script-security 2

auth SHA512